/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 4, 2014, 11:14:48 AM
    Author     : mujib masyhudi
*/

.modal-header {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}

.error-summary {
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;

    background-color: #fcf2f2;
    border-color: #dFb5b4;
}