/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 4, 2014, 11:49:10 AM
    Author     : mdmunir <misbahuldmunir@gmail.com>
*/

select{
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}
#detail-grid select{
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	border:none;
	background:inherit;
}

#detail-grid select:focus{
	border:none;
	background:inherit;
}

#detail-grid > tbody > tr:hover > td{
	background-color:#E9E9F9;
}
#detail-grid > tbody > tr.selected > td{
	background-color:#E9E9E9;
}
#detail-grid input{
	border:none;
	background:inherit;
	color:inherit;
	text-align:right;
}
#detail-grid input:focus{
	border:initial;
	background:white;
}
#detail-grid td.total-price{
	text-align:right;
}
#detail-grid tfoot .total-price{
	text-decoration:underline;
}
#detail-grid li:not(:first-child){
	/*		color:#A0A0A0;*/
}
.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
#list-session li{

}
#list-session li.active{
	color:blue;
}